capstone==3.0.4
-e git+git@github.com:yformaggio/katnip.git@f88b0264f8aecd1270d021d0718b7145677816a1#egg=katnip
kittyfuzzer==0.6.3
kittyfuzzer-remote==0.6.3
-e git+git@bitbucket.org:yformaggio/wdbdbg.git@d512078a1e045f396abce2b9b62d27d632d5e558#egg=WdbDBG
